node_modules
**/node_modules
.tools
.tools/
dist
**/dist
.git
.env
*.env.local
README.md
.gitignore
docs
deploy
data
backups
*.db
*.db-journal
*.db-wal
*.db-shm
*.tgz
*.log
.vscode
.idea
.DS_Store
Thumbs.db
